.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0 15px 0;
  background-color: $mainBgColor;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 60, 30);

    @include r(576) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      background-color: $secondBgColor;
      z-index: 2;
      transition: all 0.3s linear;
      opacity: 0;
      visibility: hidden;
      transform: perspective(600px) translate(0, -100%) rotateX(45deg);
      
      &--active {
        transform: perspective(600px) translate(0, 0%) rotateX(0deg);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  &__link--active {
    color: $accent;
    transition: all 0.3s linear;
  }
}

.burger {
  @include burger;
  display: none;
  transition: all 0.2s linear;

  // .black-theme & {
  //   color: #fff;
  // }

  @include r(576) {
    display: block;
    z-index: 2;
  }
}


