.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0 15px 0;
  background-color: $mainBgColor;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-nav {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 60, 20);

    @include r(900) {
      position: absolute;
      top: -2000%;
      left: 0;
      right: 0;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      background-color: $secondBgColor;
      z-index: 2;
      transition: all 0.3s linear;
      opacity: 0;
      visibility: hidden;
      font-size: 0;
      
      &--active {
        opacity: 1;
        visibility: visible;
        top: 0;
        font-size: 24px;
        gap: 50px;
      }
    }
  }

  &__link {
    padding: 5px 10px;
    outline: transparent;
    border: 1px solid transparent;
    border-radius: 10px 40px;
    transition: all 0.3s linear;

    &:focus {
      border-color: $accent;
    }

    &:hover {
      color: $accent;
      opacity: 0.7;
    }
  }
  
  &__link--active {
    color: $accent;
  }
}

.burger {
  @include burger;
  display: none;
  transition: all 0.2s linear;

  @include r(900) {
    display: block;
    z-index: 2;
  }
}