.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0 15px 0;
  background-color: red;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.burger {
  @include burger;
  display: none;
  transition: all 0.2s linear;

  .black-theme & {
    color: $white;
  }

  @include r(992) {
    display: block;
    order: 2;
  }
}


